.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
}

.sticky-navbar--hidden {
  transform: translateY(-100%);
}

.nav-link {
  color: #1e4557;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 20px;
    height: 70px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nav-link:hover {
  background-color: #c5e0cb;
  color: #079bca;
}

.nav-link.is-active {
  background-color: #e8f4eb;
  color: #1e4557;
}
